<tr>
    <td class="px-4 py-3 text-sm whitespace-nowrap">
        <span class="text-gray-700 dark:text-gray-200">{{fecha_pago}}</span>
    </td>
    <td class="px-4 py-3 text-sm whitespace-nowrap">
        <span class="text-gray-700 dark:text-gray-200">{{fecha_vencimiento}}</span>
    </td>
    <td class="px-4 py-3 text-sm whitespace-nowrap">
        <span class="text-gray-700 dark:text-gray-200">${{monto}}</span>
    </td>
    <td class="px-4 py-3 text-sm whitespace-nowrap">
        <span class="text-gray-700 dark:text-gray-200">{{medio_de_pago}}</span>
    </td>
    <td class="px-4 py-3 text-sm whitespace-nowrap">
        <span
            class="inline-block px-3 py-1 rounded-full font-medium text-emerald-600 bg-emerald-100/70 dark:text-emerald-400 dark:bg-emerald-800/30">
            {{estado}}
        </span>
    </td>
    <td class="px-4 py-3 text-sm whitespace-nowrap">
        <div class="flex justify-center">
            <a href="#" class="font-medium text-blue-600 dark:text-blue-400 hover:underline font-poppins"
                data-pago="{{numero_pago}}">
                Ver
            </a>
        </div>
    </td>
</tr>